
.stackingCards{
    --square-size: 150px;
    --gap: 8px;
    --scale-increment: 0.05;
    --tanslate-increment: 13%;

    position: relative;
    width: var(--square-size);
    aspect-ratio: 2 / 1;

    .card{
        position: absolute;
        inset: 0;
        display: flex;
        transition: transform 0.100s cubic-bezier(.25, .46, .45, .94);
        transform: scale(calc( 1 - (var(--index) * var(--scale-increment)) )) translateY(calc(var(--index) * var(--tanslate-increment)));
        z-index: calc(var(--length) - var(--index));
        
        &::before {
            content: '';
            position: absolute;
            left: 0;
            height: calc(var(--gap) + 1px);
            bottom: 100%;
            width: 100%;
        }
    }
    
    &:hover{
        .card{
            transform: translateY(calc(var(--index) * 110%)) scale(1);
        }
    }
}
